body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
}

h1,h2,h3{
    font-size: 1.6rem;
}

h3{
    text-align: center;
}

div{
    display: flex;
    justify-content: center;
    gap: 2rem;
}