/* General Settings */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

header {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}

header a{
    text-decoration: none;
    color: #000;
    font-size: 600;
    padding:.4rem;
}

.navbar {
  display: flex;
  gap: 2rem;
}

.nav-link{
    list-style: none;
}

.nav-link a {
  text-decoration: none;
  color: #000;
  font-size: 600;
  padding:.4rem;
}

.nav-link a:hover{
    background-color: #555555;
    color: white;
}

.hero {
  background: url("../img/hero-img.avif") no-repeat center;
  width: 100%;
  height: 100vh;
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  flex-direction: column;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.hero button {
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

.hero button:hover {
  background-color: #555555;
  color: white;
}

/* VETRINA  */

h3 {
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
}

.vetrina {
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
